/* for new tab or home page customization */
@-moz-document url("about:home"), url("about:newtab") {
  .search-handoff-button {
    border-radius: 4px !important;
  }

  .widget-wrapper article {
    border-radius: 4px !important;
  }
}

@-moz-document url("about:preferences") {
  moz-card {
    border-radius: 4px !important;
  }
}

@-moz-document {
  moz-button {
    border-radius: 6px !important;
  }
}
html {
  margin: 0 !important;
  padding: 0 !important;
}
